<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
</head>


<body>

{% extends 'CarbAIWebApp/base.html' %}
{% block content %}
<table>
  <tr>
      <th>Daily Screen Time</th>
      <th>Commute Distance</th>
      <th>Breakfast Food  </th>
      <th>Lunch Food</th>
      <th>Dinner Food</th>
      <th>Snack </th>
      <th>Recycled Aluminum?</th>
      <th>Recycled Plastic?</th>
      <th>Recycled Glass? </th>

  </tr>
  {% for item in query_results %}
  <tr>
    <td>{{ item.daily_screen_time }}</td>
    <td>{{ item.commute_distance }}</td>
    <td>{{ item.breakfast_food }}</td>
    <td>{{ item.lunch_food }}</td>
    <td>{{ item.dinner_food }}</td>
    <td>{{ item.snack_food }}</td>
    <td>{{ item.did_you_recycle_aluminum_today }}</td>
    <td>{{ item.did_you_recycle_plastic_today }}</td>
    <td>{{ item.did_you_recycle_glass_today }}</td>

  </tr>
    
  {% endfor %}
</table>

{% endblock content %}

</body>


</html>